plugins {
    id "nf-nomad@0.4.0-edge2"
}

process {
    executor = "nomad"
}

docker {
    enabled = true
}

aws {
    accessKey = '1NEP3GTPB8MDM1599FAG'
    secretKey = 'lNu+brtrVkkoZC46tLfC5ZpV9v1SMo0HTj7uPeX+'
    client {
      endpoint = "http://100.64.0.2:9000"
      s3PathStyleAccess = true
    } 
}


wave.enabled=true
fusion.enabled=true
fusion.exportStorageCredentials=true


nomad {

    client {
        address = "http://nomad-server-1:4646"
    }

    jobs {
        deleteOnCompletion = false
    }

}
