plugins {
    id "nf-nomad@0.4.0-edge2"
}

process {
    executor = "nomad"
}


docker {
    enabled = true
    containerOptions = '-e FUSION_AWS_REGION=<AWS_REGION>'

}

//NOTE: From https://docs.seqera.io/fusion/guide/local/oracle-object
aws {

    region = '<AWS_REGION>'

    accessKey = 'minioadmin'
    secretKey = 'minioadmin'

    client {
      endpoint = 'https://<BUCKET_NAMESPACE>.compat.objectstorage.<AWS_REGION>.oraclecloud.com'
      protocol = 'https'
      signerOverride = 'AWSS3V4SignerType'
      s3PathStyleAccess = true
    }
}




wave.enabled=true
fusion.enabled=true
fusion.exportStorageCredentials=true


nomad {

    client {
        address = "http://nomad-server-1:4646"
    }

    jobs {
        deleteOnCompletion = false
    }

}
