plugins {
    id "nf-nomad@0.3.1"    
}

process {
    executor = "nomad"
}

docker {
    enabled = true
}

aws {
    accessKey = 'minioadmin'
    secretKey = 'minioadmin'
    client {
      endpoint = "http://10.10.2.201:9000"
      s3PathStyleAccess = true
    } 
}


wave.enabled=true
fusion.enabled=true
fusion.exportStorageCredentials=true


nomad {

    client {
        address = "http://10.10.2.188:4646"
    }

    jobs {
        deleteOnCompletion = false
    }

}
