plugins {
    id "nf-nomad@0.4.0-edge2"
}

process {
    executor = "nomad"
}

docker {
    enabled = true
}

aws {
    accessKey = 'xxxx'
    secretKey = 'lNu+xxxxxxxx+'
    client {
      endpoint = "http://10.10.2.169:9000"
      s3PathStyleAccess = true
    }
}


wave.enabled=true
fusion.enabled=true
fusion.exportStorageCredentials=true


nomad {

    client {
        address = "http://nomad-server-1:4646"
    }

    jobs {
        deleteOnCompletion = false
    }

}
